@use "variables" as var;

// Tablet Styles
@media screen and (min-width: var.$breakpoint-tablet) {
  .background {
    width: auto;
    height: auto;
    left: auto;
    right: 0;
    opacity: 1;
  }

  .background-dots {
    display: block;
    position: absolute;
    bottom: 0;
    left: 2rem;
    z-index: 0;
    min-width: 25vw;
  }

  .header {
    padding: 3rem 3rem 2rem 2.5rem;
  }

  .header__logo {
    margin: 0 auto 0 0;
  }

  .content {
    background: var.$clr-black;
    margin: 7.5rem 6rem 0 0;
    padding: 5rem 1.5rem 0 2.5rem;
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.1fr 0.25fr;
    grid-template-areas: "copy" "form" "spacer" "logo";
    position: relative;
    z-index: 1;
  }

  .content__container {
    text-align: left;
  }

  .content__heading {
    font-size: 3em;
    line-height: 1.2;
  }

  .content__copy {
    font-size: 1.1em;
    padding: 1.75rem 0 0 0;
    max-width: 27.5rem;
  }

  .content__platform-list {
    padding: 0 5rem 0 0;
    grid-area: logo;
    max-width: 40rem;
  }

  .content__form {
    grid-area: form;
    max-width: 27.5rem;
    flex-direction: row;
    position: relative;
  }

  .content__form-input {
    margin: 0;
    padding: 1.25rem 2rem;
    z-index: 2;
  }

  .content__form-btn {
    width: auto;
    padding: 1rem 1.5rem;
    margin: 0 0 0 -10.25rem;
    z-index: 3;
  }
}

// Desktop Styles
@media screen and (min-width: var.$breakpoint-desktop) {
  .background {
    top: 15%;
    width: 62.5%;
  }

  .background-dots {
    left: auto;
    right: 0;
    bottom: 4rem;
    min-width: 15vw;
  }

  .header {
    padding: 6rem 3rem 0 11rem;
  }

  .header__logo {
    min-width: 10vw;
  }

  .content {
    max-width: 46rem;
    margin: 6rem 6rem 0 8.5rem;
  }

  .content__heading {
    font-size: 3.1em;
  }

  .content__copy {
    font-size: 1.15em;
    max-width: 28rem;
  }

  .content__form {
    max-width: 28rem;
  }

  // .content__form-input {
  //   font-size: 1em;
  //   // padding: 1.5rem 2.5rem;
  //   // border-radius: 34px;
  // }

  // .content__form-btn {
  //   font-size: 0.9em;
  //   // margin: 0 0 0 -12.15rem;
  //   // padding: 1.15rem 2rem;
  // }
}
