/* chivo-300 - latin */
@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("./fonts/chivo-v16-latin-300.woff2") format("woff2"), url("./fonts/chivo-v16-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* chivo-regular - latin */
@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/chivo-v16-latin-regular.woff2") format("woff2"), url("./fonts/chivo-v16-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* chivo-700 - latin */
@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./fonts/chivo-v16-latin-700.woff2") format("woff2"), url("./fonts/chivo-v16-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Chivo", sans-serif;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

body {
  position: relative;
  background: #121725;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.05;
  object-fit: cover;
  object-position: center;
}

.header {
  padding: 4rem 4rem 3.5rem 4rem;
  width: 100%;
}

.header__logo {
  display: block;
  margin: 0 auto;
}

.content {
  padding: 0 1.5rem;
}

.content__container {
  padding: 0 0 2rem 0;
}

.content__heading {
  font-weight: 300;
  color: #54e6af;
  text-transform: uppercase;
  font-size: 1.6em;
  text-align: center;
  line-height: 1.5;
}
.content__heading--white {
  color: #ffffff;
}

.content__copy {
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  font-size: 0.95em;
  padding: 1rem 0 0 0;
}

.content__platform-list {
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 0 3rem 0;
}

.content__platform-item {
  width: 20%;
}

.content__platform-logo {
  width: 100%;
  height: 100%;
  display: block;
}

.content__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content__form-input {
  width: 100%;
  padding: 0.8rem 2rem;
  margin-bottom: 1rem;
  border: 0;
  border-radius: 28px;
  font-family: "Chivo", sans-serif;
  font-weight: 700;
  font-size: 0.9em;
  color: #ffffff;
  background: #2c344b;
}
.content__form-input::placeholder {
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  opacity: 0.5;
}

.content__form-btn {
  width: 100%;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 28px;
  background: #54e6af;
  color: #121725;
  font-weight: 700;
  font-size: 0.9em;
  text-transform: capitalize;
  cursor: pointer;
}
