/* chivo-300 - latin */
@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("./fonts/chivo-v16-latin-300.woff2") format("woff2"), url("./fonts/chivo-v16-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* chivo-regular - latin */
@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/chivo-v16-latin-regular.woff2") format("woff2"), url("./fonts/chivo-v16-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: antialiased;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-family: "Chivo", sans-serif;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
